<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Étkezés típusa 
    <%= form.text_field :meal_type, class: "input", placeholder: "reggeli, ebéd, stb..."  %>
  </div>

  <div class="field">
    Kalória
    <%= form.number_field :calories, class: "input", placeholder: "kcal"  %>
  </div>

  <div class="field">
    Fehérje
    <%= form.number_field :proteins, class: "input", placeholder: "g"  %>
  </div>

  <div class="field">
    Szénhidrát
    <%= form.number_field :carbohydrates, class: "input", placeholder: "g"  %>
  </div>

  <div class="field">
    Zsír
    <%= form.number_field :fats, class: "input", placeholder: "g"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-default" %>
  </div>
<% end %>
